# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Next.js
.next/
out/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Environment variables
.env
.env.local
.env.*

# VS Code
.vscode/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build
dist/
build/

# Docker
*.pid

# Coverage
coverage/

# Database
*.sqlite3

# Misc
.idea/